{% extends 'classurvey/base.html' %}
{% load dict_key %}

{% block content %}


<div class="container-main">
    <div class="card card-question">
        <div class="card-header">
            <h1>Sound annotation [{{ answered_sounds_size }} / {{ all_sounds_size }}]</h1>
        </div>
        <div class="card-body">
            
            <form method="post" novalidate autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="test_sound_id" value="{{ test_sound.id }}">
                <fieldset>
                    <div class="center">
                        <h5>{{ filename }}</h5>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="center">
                                <div class="encoder_iframe_wrapper">
                                    <iframe id="encoder_iframe" frameborder="0" scrolling="no" class="iframe-layout"></iframe>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="class-label">
                            {{ form.chosen_class.label }}
                        </div>
                        <div class="error-class">
                            {{ form.chosen_class.errors }}
                        </div>
                        {% for option in form.chosen_class %}
                        {% if option.data.value == "m-sp" %}
                        <div class="col-12 col-lg-4 offset-lg-2">
                            <div class="topclass-names">
                                MUSIC
                            </div>
                            {% elif option.data.value == "is-p" %}
                            <div class="topclass-names">
                                INSTRUMENT SAMPLES
                            </div>
                            {% elif option.data.value == "sp-s" %}
                            <div class="topclass-names">
                                SPEECH
                            </div>
                            {% elif option.data.value == "fx-o" %}
                        </div>
                        <div class="col-12 col-lg-4 offset-lg-1">
                            <div class="topclass-names">
                                SOUND EFFECTS
                            </div>
                            {% elif option.data.value == "ss-n" %}
                            <div class="topclass-names">
                                SOUNDSCAPES
                            </div>
                            {% endif %}
                            <div class="myradio mytooltip">
                                <span class="tooltiptext">{{ class_titles|dict_key:option.data.value }}</span>
                                {{ option }}
                            </div>
                            {% endfor %}
                        </div>     
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="confidence-label">
                                {{form.confidence.label}}
                            </div>
                            <div class="error-confidence">
                                {{form.confidence.errors}}
                            </div>
                            <div class="horizontal-radio">
                                {% for choice in form.confidence %}
                                <div>{{choice}}</div>
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
                    
                    <div class="center" style="margin:30px 0px;">
                        {% if answered_sounds_size != all_sounds_size %}
                        <input type="submit" class="btn btn-dark" value="Continue with the next sound">
                        {% else %}
                        <input type="submit" class="btn btn-dark" value="Continue to the next phase">
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer tip">
                    Tip: If you're doubting between two categories, choose the one you think fits best. <br>
                    Tip: If you select the sub category "other", make sure you choose it from the correct top-level category.
                </div>
            </fieldset>
        </form>
        
    </div>
</div>
</div>

<script>
    var iframe = document.getElementById('encoder_iframe')
    iframe.src="https://freesound.org/embed/sound/iframe/{{ test_sound.sound_id }}/simple/full_size_no_info/"
</script>


{% endblock %}