{% extends 'classurvey/base.html' %}

{% block content %}

<div class="pos-end">
    <div class="brd">
        <h3> 
            Thank you for participating in the Freesound Taxonomies experiment!
        </h3>
        <p>
            Your answers have been submitted and recorded successfully and you can now safely close this page.
            If you want, <b>you can repeat the experiment and categorize a different set of sounds</b>. 
            Please click the button below if you wish to do so.
        </p>

        <a href="{% url 'classurvey:home' %}" class="btn btn-dark btn-sm button-end">Do the experiment again</a>
    </div>
</div>

{% endblock content %}