{% extends 'classurvey/base.html' %}

{% block content %}

<div class="pos-end">
    <div class="brd">
        <h3> 
            Thank you for participating on the survey. Your answers have been submitted successfully. 
        </h3>

        You can now close this page or do again the experiment and categorize a different set of sounds. 
        <br><br>

        <a href="{% url 'classurvey:home' %}" class="btn btn-primary btn-sm button-end">Do the experiment again</a>
    </div>
</div>

{% endblock content %}