{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-main">
    <div class="card">
        <div class="card-header">
            <h1>Additional feedback</h1>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <div>
                    {% for field in form %}
                        <div class="box-feedback">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="center" style="margin-top: 50px;">
                        <input type="submit" class="btn btn-success" value="Submit feedback and finish the experiment">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}