{% extends 'classurvey/base.html' %}

{% block content %}

<div class="pos-end">
    <div class="brd">
        <h3> 
            You have answered all the available groups! Thank you for your massive contribution :)
        </h3>
    </div>
</div>

<div class="cache">
    <div>
        If you got here by accident, click
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="clear_session_cache" class="btn btn-sm btn-link">here</button>
    </form>
</div>

{% endblock content %}