{% extends 'classurvey/base.html' %}

{% block content %}

{% if show_popup %}
<div class="popup">
    <p class="center">We detected that you have an ongoing experiment which was left unfinished. Do you want to continue with the previous experiment or start a new one?</p>  
    <form method="POST">
        {% csrf_token %}
        <div>
            <button type="submit" name="action" value="continue" class="btn btn-outline-success btn-sm popup-button">Continue</button>
            <button type="submit" name="action" value="restart" class="btn btn-outline-danger btn-sm popup-button">Start a new one</button>
        </div>
    </form>
</div>
{% endif %}

<div class="container-start center">
    <h1>Welcome!</h1>
    <p>Click the button below to enter the<br><b>Freesound Taxonomies</b> experiment.</p>
    <a href="{% url 'classurvey:instructions' %}" class="btn btn-dark {% if show_popup %} disabled {% endif %}">Enter</a>
</div>

{% endblock content %}