{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-main">

    <h3 class="center"> <u>Information sheet / Informed consent</u> </h3>

    <p>
        <span class="titles">Investigators: </span>
        Frederic Font, Panagiota Anastasopoulou
    </p>
    <p>
        <span class="titles">Institution: </span> 
        Universitat Pompeu Fabra (UPF)
    </p>
    <p>
        <span class="titles">Funding body: </span> 
        This project is funded by Music Technology Group of UPF.
    </p>
    <p>
        <span class="titles">Objectives and duration of the project: </span>
        The goal of this study is to obtain insights about taxonomies and classes for
        potential applications on the organization of sound collections, such as the Freesound project.
        Inclusion criteria for participation: This experiment is openly accessible on the internet and its content is suitable
        for all individuals. However, due to legal reasons, participation is restricted to individuals above the age of 14.
    </p>
    <p>
        <span class="titles">Risks and benefits: </span> 
        Participating in this study does not entail risks greater than those ordinarily encountered in daily
        life. Additionally, we cannot and do not guarantee that you will receive any benefits from this study.
    </p>
    <p>
        <span class="titles">Privacy: </span> 
        As part of this process, we may collect your IP address without the last octet to prevent duplicate responses, maintain the quality
        of the data collected and identify the geographic location of your country for research and analysis purposes. Your
        IP address will not be used to identify you personally, and we will take appropriate measures (such as storing digital
        data with access control systems) to protect your personal information from unauthorized access, disclosure, or
        misuse. By participating in this survey, you agree to the collection and use of your IP address for the purposes
        described above. According to the aforementioned, in case of data publishing only anonymous data will be
        distributed.
    </p>
    <p>
        <span class="titles">Voluntary nature of participation: </span> 
        Your participation in this study is on a voluntary basis and you may withdraw from the study at any time without having to justify why.
    </p>
    <p>
        <span class="titles">Contact information: </span> 
        If you have any question about this study, you may contact the PI (Dr. Frederic Font,
        frederic.font@upf.edu) or the experiment coordinator (Panagiota Anastasopoulou, panagiota.anastasopoulou@upf.edu). 
        If you have doubts, complaints, or questions about this study or about your
        rights as a research participant, you may contact UPF's Institutional Committee for the Ethical Review
        of Projects (CIREP) by phone (+34 93 542 21 86) or by email (secretaria.cirep@upf.edu). CIREP is not part of the
        research team and will treat any information you send confidentially.
    </p>

    <p style="font-size: large;">
        <u>In accordance with the General Data Protection Regulation (GDPR) 2016/679 (EU), we provide the following information:</u>
    </p>
    <p>
        <span class="titles">Data controller: </span> 
        Universitat Pompeu Fabra. C. de la Mercè, 12. 08002 Barcelona. Tel. +34 93 542 20 00. You can
        contact UPF's Data Protection officer by sending an email to dpd@upf.edu.
    </p>
    <p>
        <span class="titles">Purposes of the processing: </span> 
        Carrying out the above-mentioned research project. Personal data will be kept during
        the execution of the project and for two more years after its conclusion for scientific validation.
    </p>
    <p>
        <span class="titles">Legal basis: </span>  
        Data owner's consent. You can withdraw your consent at any time.
    </p>
    <p>
        <span class="titles">Recipients: </span> 
        Your personal data will be processed by Universitat Pompeu Fabra. Data may be anonymized and
        published in an open science repository.
    </p>
    <p>
        <span class="titles">Rights: </span> 
        Given that the responses to the survey will not allow us to identify you (this project collects part of the IP address, but it
        is not data that allows to directly identify individuals), we will be unable to delete your data if you ask us to.
        You can contact UPF's Data Protection officer (dpd@upf.edu) for any queries or if you feel that your rights are not properly respected. 
        Should you not be satisfied, you may file a complaint with the Catalan Data Protection Authority (apdcat.gencat.cat).
        </p>

</div>

{% endblock %}