{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-instructions">
    <div class="card">
        <div class="card-header bg-light">
            <h1>Information</h1>
        </div>
        <div class="card-body">
            <h4>Description:</h4>
            <p>
                This experiment is a listening test, where you are asked to assign categories to a group of given sounds. The aformentioned categories belong to the
                new <a href="https://en.wikipedia.org/wiki/Taxonomy" style="color: black;">taxonomy</a> we are introducing for sound description in Freesound. 
                The proposed taxonomy is explained before the listening part, in which there are 5 top-level categories with 3-10 subcategories to each. 
            </p>

            <h4>Instructions:</h4>
            <ul>
                <li>You are asked to:</li>
                <ul>
                    <li>provide some basic demographic data (e.g. if you are freesound user or musician),</li>
                    <li>get familiar with the taxonomy for a few minutes,</li>
                    <li>listen to around ~20 given sounds one by one and choose the best category for each,</li>
                    <li>give text feedback to the taxonomy (optionally).</li>
                </ul>
                <li>Each sound can be assigned to only <i>one</i> category.</li>
                <li>It is preferable to be located in a <i>quiet</i> environment.</li>
                <li>To ensure accurate results, please refrain from using the <i>back button</i> during the experiment.</li>
                <li>We kindly request you to finish and <i>submit</i> the results, otherwise your answers won't be commited.</li>
            </ul>

            <div class="checkbox">
                <input type="checkbox" checked> I consent on participating in this study and have read the <a href="{% url 'classurvey:informed_consent' %}">experiment terms</a>.
            </div>

            <footer>
                This research is carried by Universitat Pompeu Fabra. Contact us on <a href="mailto:panagiota.anastasopoulou@upf.edu">panagiota.anastasopoulou@upf.edu</a>
                or <a href="mailto:frederic.font@upf.edu">frederic.font@upf.edu</a> for any technical problems or questions.
            </footer>

            <div class="center">
                <a href="{% url 'classurvey:taxonomy' %}" class="btn btn-primary">Continue</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}