{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-main">
    <div class="card">
        <div class="card-header">
            <h1>Experiment information</h1>
        </div>
        <div class="card-body">
            <h4>Description:</h4>
            <p>
                The <b>Freesound Taxonomies</b> experiment is a listening test in which you are asked to categorize a number of sounds into a set of "categories". 
                These categories belong to a new <a target="_blank" href="https://en.wikipedia.org/wiki/Taxonomy" style="color: black;">taxonomy</a> that we are designing
                to aid the sound description process in <a target="_blank" href="https://freesound.org/">Freesound</a>. 
                The purpose of the experiment is to understand whether or not our taxonomy is clear and understandable for a general audience, and how suitable it is for being integrated with Freesound.
            </p>

            <h4>Instructions:</h4>
            <ul>
                <li>The experiment consists of the following 4 phases:</li>
                <ol>
                    <li>Get familiar with the taxonomy and its categories. There are 5 top-level categories and between 3 and 10 sub categories for each top-level category.</li>
                    <li>Provide some basic demographic data (e.g. if you are Freesound user, a musician, etc.).</li>
                    <li>Select the most appropriate category for each of the ~20 sounds that you'll be presented one by one.</li>
                    <li>Provide any additional textual feedback about the taxonomy (optional).</li>
                </ol>
                <li>The experiment takes approximately 15-20 minutes. We suggest completing it in a single sitting.</li>
                <li>It is preferable to be located in a <i>quiet</i> environment and use headphones so you can listen to the sounds without interferences.</li>
                <li>To ensure accurate results, please refrain from using the browser's <i>back button</i> during the experiment.</li>
            </ul>
    
            <form action="{% url 'classurvey:taxonomy' %}" method="POST" style="display:block">
                {% csrf_token %}
                <div class="checkbox">
                    Before starting the experiment, please make sure you have read the <a href="{% url 'classurvey:informed_consent' %}">experiment terms</a> and give your consent by checking the checkbox below.
                    Note that you can only carry out the experiment if you are above 14 years old. Furthermore, if you're under 18, you'll have to carry out the experiment accompanied by your legal guardian.
                    <br><br>
                        <label>
                            <input type="checkbox" name="consent" required>
                            I consent to participating in this study and have read the experiment terms.
                        </label>
                </div>
                
                <footer><br>
                    This research is carried out by Universitat Pompeu Fabra. You can contact us at <a href="mailto:panagiota.anastasopoulou@upf.edu">panagiota.anastasopoulou@upf.edu</a>
                    or <a href="mailto:frederic.font@upf.edu">frederic.font@upf.edu</a> for any technical problems or questions you might have.
                </footer>
                
                <div class="center" style="margin-top:30px;margin-bottom:10px">
                    <input type="submit" class="btn btn-dark" value="Start experiment!">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}