{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-instructions">
    <div class="card">
        <div class="card-header bg-light">
            <h1>1) Familiarisation with the taxonomy</h1>
            <div class="center">
                Below is the taxonomy we have designed. Please, spend <u>4-5 minutes</u> looking at the top-level categories, the sub categories and its definition and examples to get familiar with them.
                Note that later during the cateogrization phase, you'll still be able to see all avialable taxonomy categories. Category definitions and examples will also be available by <u>hovering</u> over the categories' names.
            </div>  
        </div>

        <div class="card-body">
            <div class="container">
                <div class="d-none d-md-block titles">
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                            Top-level category
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4">
                                    Sub category
                                </div>
                                <div class="col-md-8">
                                    Definition and examples
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 2px solid rgb(20, 10, 40);">

                {% for top_level, class_data in level_group.items %}
                <div class="row">
                    <div class="col-md-3 d-flex align-items-center">
                        <h3>{{ top_level }}</h3>
                    </div>
                    <div class="col-md-9"> 
                        {% for subclass in class_data %}
                        <div class="row">
                            <div class="col-md-4">
                                <span class="d-md-none">* </span><span>{{ subclass.class_name }} </span>
                            </div>
                            <div class="col-md-8">
                                <div>
                                    {{ subclass.description }}
                                </div>
                                <div class="examples">
                                    {% if subclass.examples != "" %}
                                        Examples: {{ subclass.examples }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
                {% endfor %}
                <div class="center" style="margin-top: 20px;">
                    <a href="{% url 'classurvey:user_details' %}" class="btn btn-primary">Continue to the next phase</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}