{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-main">
    <div class="card">
        <div class="card-header">
            <h1>Demographic questions</h1>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="details">
                    <br>
                    {{ form.as_p}}
                    <br><br>
                    <div class="center">
                        <input type="submit" class="btn btn-dark" value="Start categorizing sounds">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const q1RadioOptions = document.getElementsByName('q1');
    const numSoundsInputField = document.getElementsByName('q2')[0];

    const setNumSoundsInputVisibility = () => {
        numSoundsInputField.disabled = !q1RadioOptions[0].checked
        if (numSoundsInputField.disabled) {
            numSoundsInputField.value = ''
        }
    }

    setNumSoundsInputVisibility()

    q1RadioOptions.forEach((element) => {
        element.addEventListener('change', (event) => {
            setNumSoundsInputVisibility();
        })
    })
</script>

{% endblock content %}